requirements.txt filter=lfs diff=lfs merge=lfs -text
src/textSummarizer.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
src/textSummarizer/logging/__init__.py filter=lfs diff=lfs merge=lfs -text
research/trials.ipynb filter=lfs diff=lfs merge=lfs -text
src/textSummarizer.egg-info/SOURCES.txt filter=lfs diff=lfs merge=lfs -text
setup.py filter=lfs diff=lfs merge=lfs -text
template.py filter=lfs diff=lfs merge=lfs -text
src/textSummarizer/utils/common.py filter=lfs diff=lfs merge=lfs -text
research/Text_Summarization_training_notebook.ipynb filter=lfs diff=lfs merge=lfs -text
